.layoutContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f3f4f6;
}

.mainContent {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  background-color: #f9fafb;
  padding: 2rem;
}